manifest {
    homePage = 'https://github.com/USDA-ARS-GBRU/salmonella_varcall'
    description = 'Pipeline to call Salmonella variants on GCP'
    mainScript = 'main.nf'
    version = '1.0.0'
}

docker {
    enabled = true
    temp = 'auto'
}

google {
  project = ars-scinet-vsv-salmonella
  google.enableRequesterPaysBuckets = true
  cpus 8
  memory '40 GB'
  disk '50 GB'
}
